.product{
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.productImg{
width: 15%;
height: 100%;

}
.productImg img{
  width: 100%;
  height: 100%;
}
.productInfo{
margin-right: auto;
padding-left: 20px;
height: 100%;
width: 18%;
}
.productInfo h2{
  font-size: 20px;
}
.productInfo h3{
  font-size: 14px;
}
.productInfo button{
margin-top: 80px;
  width: 100%; 
  background-color: rgb(157, 158, 159);
  border: none;
  opacity: .8;
}
.productInfo button:hover{
  background-color:rgb(157, 158, 159) ;
  opacity: 1;
}